{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"complexity": [2, 11],
		"new-cap": [2, {
			"capIsNewExceptions": [
				"CreateArrayIterator",
				"CreateIterResultObject",
				"CreateMethodProperty",
				"DefinePropertyOrThrow",
				"Get",
				"GetIntrinsic",
				"HasOwnProperty",
				"IsCallable",
				"ObjectCreate",
				"ToLength",
				"ToString",
				"Type",
			],
		}],
		"id-length": 0,
		"max-statements": [2, 20],
		"operator-linebreak": [2, "before"],
	},

	"overrides": [
		{
			"files": "test/**",
			"rules": {
				"max-lines-per-function": 0,
			},
		},
	],
}
